/*CSS Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*General Rules*/
.bc-black {
    background-color: black;
}

.bc-lightblack {
    background-color: #090B12;
}

.bc-darkgrey {
    background-color: #282828;
}

.bc-darkblue {
    background-color: #141922;
}

.flex {
    display: flex;
}

.container {
    width: 100%;
}

.color-white {
    color: white;
}

.color-light-grey {
    color: lightgray;
}

/*
.display-none {
    display: none;
}
*/

.small-logo-none{
    display: none;
}

/*--Aside bar laterale/ Header--*/

.header-container {
    width: 250px;
    height: calc(100vh - 100px);
}



/*-- --*/
.main-container {
    width: calc(100% - 250px);
    height: calc(100vh - 100px);
}

.call-to-action {
    width: 100%;
    height: 100px;
}

.main-section {
    height: calc(100% - 100px);
}

.task-bar {
    width: 100%;
    height: 100px;
    position: fixed;
}