/*CSS Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*General Rules*/

body {
    font-family: 'Montserrat', sans-serif;
}

.bc-black {
    background-color: black;
}

.bc-lightblack {
    background-color: #090B12;
}

.bc-darkgrey {
    background-color: #282828;
}

.bc-darkblue {
    background-color: #141922;
}

.flex {
    display: flex;
}

.container {
    width: 100%;
}

.color-white {
    color: white;
}

.color-light-grey {
    color: lightgray;
}

/*
.display-none {
    display: none;
}
*/

.small-logo-none{
    display: none;
}

ul {
    list-style: none;
}

.bottom-padding-1rem {
    padding-bottom: 1rem;
}

/*--Aside bar laterale/ Header--*/

.header-container {
    width: 250px;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-section img {
    width: 200px;
    height: 80px;
    padding: 0.9rem 0.5rem;
}

/*Head-menu-section*/

.home-menu {
    padding: 1rem 0 .5rem 1.5rem;
    border-left: 5px solid #ADFF2E;
}

.home-menu span {
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding-left: .5rem;
}

.search-menu {
    padding: .3rem 0 .5rem 1.9rem;
}

.search-menu span {
    font-size: 18px;
    padding-left: .5rem;
}

.librery-menu {
    padding: .3rem 0 .5rem 1.9rem;
}

.librery-menu span:first-child {
    font-size: 20px;
}

.librery-menu span:last-child {
    font-size: 18px;
    padding: .5rem;
}

/*Playlist-section*/

.playlist-section {
    padding: 1rem 2rem
}

.playlist-section h2 {
    padding-bottom: 1rem;
    text-transform: uppercase;
    font-size: 18px;
}

.fa-square-plus {
    padding-right: 0.5rem;
}

/*
Header-down
Account-section
*/

.account-section {
    padding: 0 0 2rem 2rem;
}

.download-app {
    border-bottom: 1px solid lightgray;
    padding-bottom: 0.5rem;
    font-size: 14px;
}

.account-name {
    padding-top: 1rem;
}

.account-name span {
    font-weight: bold;
}

/*--Main Container--*/

.main-container {
    width: calc(100% - 250px);
    height: calc(100vh - 100px);
}

/*Call-To-Action*/

.call-to-action {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 1rem;
}

.call-to-action button {
    color: white;
    background: #090B12;
    padding: 0.8rem 2rem;
    border-radius: 30px;
    border: 1px solid white;
    text-transform: uppercase;
    font-weight: bold;
}

.main-section {
    height: calc(100% - 100px);
}

.task-bar {
    width: 100%;
    height: 100px;
    position: fixed;
}